<!DOCTYPE html>
<html lang="en" and dir="Itr">


    <head>
        <meta charset="utf-8">
        <title>Favorite Songs</title>
        <link rel="stylesheet" href="css/style_favsongs.css">

      
    </head>
    <body>
        <h1>
            Favorite songs
            
            <p>
                Placeholder for Favorite Songs table from DB
            
            </p>

           
            
        </h1>
            
        
    </body>
</html>




       