<!DOCTYPE html>
<html lang="en" and dir="Itr">

    <head>
        <meta charset="utf-8">
        <title>Favorite Songs</title>
        <link rel="stylesheet" href="/css/favoriteartists.css">
    </head>

    <style>
        table {
          font-family: "Trebuchet MS", sans-serif;
          border-collapse: collapse;
          width: 100%;
          font-weight: bold;
        }
        
        td, th {
          border: 1px solid #fffefe;
          text-align: left;
          padding: 8px;
          color: white;
        }
        
        tr:nth-child(even) {
          background-color: rgb(29, 29, 29);
        }
        </style>

        <!-- style for textfield -->
        <style>
            input[type=text] {
                width: 10%;
                border: 2px rgb(128, 128, 128);
                border-radius: 4px;
                margin: 4px 0;
                outline: none;
                padding: 13px;
                box-sizing: border-box;
                transition: 0.3s;   
            }

            input[type=text]:focus {
                border-color: rgb(0, 0, 0);
                box-shadow: 0 0 8px 0 rgb(0, 0, 0);
            }
        </style>

    <body>

        <header><%- include('header.ejs'); %></header>

        <h1>Favorite Artists</h1>

        <h2>Artists</h2>
        
        <div>
            <form class="add" action="/favoriteartists/add" method="POST">
            <input type="text" required class="addArtist" name="addArtist" style ="background-color: rgb(255, 255, 255);" placeholder= "Enter Artist Name...">
            <input type="submit" class="btn1" name="btn1" value= "Add Artist">
            </form>
        </div>

        <div>
            <form class="remove" action="/favoriteartists/remove" method="POST">
            <input type="text" required class="removeArtist" name="removeArtist" style ="background-color: rgb(255, 255, 255);" placeholder="Enter Artist Name..."> 
            <input type="submit" class="btn2" name="btn2" value= "Remove Artist">
        </form>
        </div>

        <div class="container">
          <table>
            <tr>
              <th>Name</th>
            </tr>
            <tr>
              <tbody>
                  <% for (let i = 0; i < artist.length; i++) { %>
                      <tr>
                          <td><%= artist[i].artist_name %></td> 
                      </tr>
                      <% } %>
              </tbody>
          </table>
          </div> 

          <script src="./routes/favoriteartists.js"></script>
    </body>
</html>