<nav>
  <a href="/login">Trouvaille</a>
  <ul>
    <li>
      <a href="/home">Home</a>
    </li>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li>
      <a href="/search">Search</a>
    </li>
  </ul>
</nav>