<!DOCTYPE html>
<html lang="en" and dir="Itr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
    

</head>

<body>

    <h1>John Doe</h1>

    <div class="button_cont" align="center">
        <a href="/playlists" class="plist">Playlists</a>
    </div>
    <div class="button_cont" align="center">
        <a href="/favoritesongs" class="songs">Favorite Songs</a>
    </div>
    <div class="button_cont" align="center">
        <a href="/favoriteartists" class="artists">Favorite Artists</a>
    </div>
    <div class="button_cont" align="center">
        <a href="/favoritealbums" class="albums">Favorite Albums</a>
    </div>
    <div class="button_cont" align="center">
        <a href="/profile" class="userSettings">User Settings</a>
    </div>

</body>

</html>