<!DOCTYPE html>
<html lang="en" and dir="Itr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
    

</head>

<body>

    <h1>John Doe</h1>

    <div class="button_cont" align="center"><a class="plist">Playlists</a></div>
    <div class="button_cont" align="center"><a class="songs">Favorite Songs</a></div>
    <div class="button_cont" align="center"><a class="artists">Favorite Artists</a></div>
    <div class="button_cont" align="center"><a class="albums">Favorite Albums</a></div>

</body>

</html>