<!DOCTYPE html>
<html lang="en" and dir="Itr">


    <head>
        <meta charset="utf-8">
        <title>Playlists</title>
        <link rel="stylesheet" href="/css/playlists.css">
    </head>

     <!-- style for table -->
     <style>
        table {
          font-family: "Trebuchet MS", sans-serif;
          border-collapse: collapse;
          width: 100%;
          font-weight: bold;
        }
        
        td, th {
          border: 1px solid #000000;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: rgb(183, 143, 216);
        }
        </style>

        <!-- style for textfield -->
        <style>
            input[type=text] {
                width: 10%;
                border: 2px gray;
                border-radius: 4px;
                margin: 4px 0;
                outline: none;
                padding: 13px;
                box-sizing: border-box;
                transition: 0.3s;   
            }

            input[type=text]:focus {
                border-color: rgb(0, 0, 0);
                box-shadow: 0 0 8px 0 rgb(0, 0, 0);
            }
        </style>

    <body>

        <header><%- include('header.ejs'); %></header>

        <h1>Playlists</h1>

         <div>
            <form class="create" action="/playlists/create" method="POST">
            <input type="text" required class="createPlaylist" name="createPlaylist" style ="background-color: rgb(255, 255, 255);" placeholder= "Enter Playlist Name...">
            <input type="submit" class="btn1" name="btn1" value= "Create">
            </form>
        </div>

        <div>
            <form class="add" action="/playlists/add" method="POST">
            <input type="text" required class="addSong" name="addSong" style ="background-color: rgb(255, 255, 255);" placeholder= "Enter Song Name...">
            <input type="text" required class="playlistName" name="playlistName" style ="background-color: rgb(255, 255, 255);" placeholder= "Enter Playlist Name...">
            <input type="submit" class="btn2" name="btn2" value= "Add Song">
            </form>
        </div>

        <div class="container">
            <table>
              <tr>
                <th>Playlists</th>
                <th>Songs</th>
              </tr>
              <tr>
                <tbody>
                    <% for(i = 0; i < playlists.length; i++) { %>
                      <tr>
                        <td><%= playlists[i].PLIST_NAME %></td>
                        <td><%= playlists[i].song_name %></td>                 
                          </tr>
                          <% } %>
                </tbody>
            </table>
          </div>           
         
            <script src="./routes/playlists.js"></script>
            
    </body>
</html>