<!DOCTYPE html>
<html lang="en" and dir="Itr">


    <head>
        <meta charset="utf-8">
        <title>Playlists</title>
        <link rel="stylesheet" href="css/playlists.css">

      
    </head>
    <body>
        <h1>
            Playlists
            
         </h1>

         <div class="container">
             <button class="btn btn1">Create Playlist</button>
             
         </div>
         
             
                <p>
                    Placeholder for Playlists table from DB
                
                </p>
    
          


            
        
    </body>
</html>