<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="profile.css">

<style>
.dropbtn {
  background-color: crimson;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  left: 500px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000000;
}




.dropbtn1 {
  background-color: crimson;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  right: 500px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background-color: #000000;
}

</style>
</head>
<body>

<h2>Profile</h2>
<p>Select Your Favorite Genre</p>

<div class="dropdown">
  <button class="btn dropbtn">Genre</button>
  <div class="dropdown-content">
  <a href="#">Pop</a>
  <a href="#">Classic Rock</a>
  <a href="#">Country</a>
  <a href="#">Hip Hop</a>
  <a href="#">Rap</a>
  <a href="#">Electronic</a>
  <a href="#">Dance</a>
  <a href="#">Indie</a>
  <a href="#">Alternative Rock</a>
  <a href="#">Classical</a>
  <a href="#">Jazz</a>
  <a href="#">Instrumental</a>
  <a href="#">Folk</a>
  <a href="#">Reggae</a>
  </div>
</div>

<p1>Select Your Favorite Decade</p1>
<div class="dropdown1">
    <button class="btn dropbtn1">Decade</button>
</div>

</body>



</html>