<!DOCTYPE html>
<html lang="en" and dir="Itr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/search.css">
    <script src="https://kit.fontawesome.com/9b28d88510.js" crossorigin="anonymous"></script>

</head>

<body>

    <h1>Search by Song</h1>

    <h2>Search by Artist</h2>

    <h3>Search by Genre</h3>

    <h4>Search by Decade</h4>

    <p>Trouvaille</p>

  <div class="search-box">
      <input class="search-txt" type="text" name="" placeholder="Type to search">
      <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
      </a>
  </div>  

  <div class="search-box2">
    <input class="search-txt2" type="text" name="" placeholder="Type to search">
    <a class="search-btn2" href="#">
      <i class="fas fa-search"></i>
    </a>
</div>  

<div class="search-box3">
    <input class="search-txt3" type="text" name="" placeholder="Type to search">
    <a class="search-btn3" href="#">
      <i class="fas fa-search"></i>
    </a>
</div>  

<div class="search-box4">
    <input class="search-txt4" type="text" name="" placeholder="Type to search">
    <a class="search-btn4" href="#">
      <i class="fas fa-search"></i>
    </a>
</div> 
</body>
</html>