<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./stylesheets/profile.css">
</head>
<header>
    <%- include('header.ejs') %> <!-- this takes a RELATIVE path so make sure to check these if we use partials dir-->
</header>

<body>

<h2>Profile</h2>
<p>Select Your Favorite Genre</p>

<div class="dropdown">
  <button class="btn dropbtn">Genre</button>
  <div class="dropdown-content">
  <a href="#">Pop</a>
  <a href="#">Classic Rock</a>
  <a href="#">Country</a>
  <a href="#">Hip Hop</a>
  <a href="#">Rap</a>
  <a href="#">Electronic</a>
  <a href="#">Dance</a>
  <a href="#">Indie</a>
  <a href="#">Alternative Rock</a>
  <a href="#">Classical</a>
  <a href="#">Jazz</a>
  <a href="#">Instrumental</a>
  <a href="#">Folk</a>
  <a href="#">Reggae</a>
  </div>
</div>

<p1>Select Your Favorite Decade</p1>
<div class="dropdown1">
    <button class="btn dropbtn1">Decade</button>
</div>

</body>



</html>